* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: white solid 1px; */
}

body {
  margin: 0;
  font-family: "Roboto";
  background-color: black;
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
